<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032302202753-ht3bulmnrelii8v2pvpmb080m3u6ielj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032302202753-ht3bulmnrelii8v2pvpmb080m3u6ielj</string>
	<key>API_KEY</key>
	<string>AIzaSyBp6S9fayMXz6otTZFHUgqn2PehU2uBxh4</string>
	<key>GCM_SENDER_ID</key>
	<string>1032302202753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Broys.CombineAndData</string>
	<key>PROJECT_ID</key>
	<string>swiftui-combine-4f148</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-combine-4f148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032302202753:ios:d21001547120ce9dc6a280</string>
</dict>
</plist>